In [5]:
# import pandas as pd
# arenda = pd.read_csv('arendaAz.csv')
# arenda['length'] = arenda['phone'].str.len().sort_values(ascending=False)
# arenda = arenda.sort_values(by='length', ascending=False)
# arenda['phone_cleaned'] = arenda['phone'].str.split(',')
# arenda = arenda.explode('phone_cleaned', ignore_index=True)
# arenda['phone_cleaned'] = arenda['phone_cleaned'].str.replace(r'\D', '', regex=True).str[-9:]
# arenda.dropna(subset=['phone'], inplace=True)
# arenda.to_excel('arenda.xlsx', engine='xlsxwriter')

,link,name,phone,length,phone_cleaned
0,https://arenda.az/kiraye-gunluk-2-otaqli-kohne...,Yasin (Əmlak sahibi),"(070) 221-01-21,(055) 210-20-73,(051) 944-44-4...",63,702210121
1,https://arenda.az/kiraye-gunluk-2-otaqli-kohne...,Yasin (Əmlak sahibi),"(070) 221-01-21,(055) 210-20-73,(051) 944-44-4...",63,552102073
2,https://arenda.az/kiraye-gunluk-2-otaqli-kohne...,Yasin (Əmlak sahibi),"(070) 221-01-21,(055) 210-20-73,(051) 944-44-4...",63,519444445
3,https://arenda.az/kiraye-gunluk-2-otaqli-kohne...,Yasin (Əmlak sahibi),"(070) 221-01-21,(055) 210-20-73,(051) 944-44-4...",63,519444445
4,https://arenda.az/satilir-4-otaqli-heyet-evi-v...,Tural (Əmlak sahibi),"(051) 636-55-15,(070) 884-69-44,(077) 313-40-4...",63,516365515
...,...,...,...,...,...
115,https://arenda.az/satilir-3-otaqli-kohne-tikil...,Abşeron Əmlak (Vasitəçi),(070) 608-88-78,15,706088878
116,https://arenda.az/satilir-8-otaqli-heyet-evi-v...,Ev sahibi (Əmlak sahibi),(055) 563-77-90,15,555637790
117,https://arenda.az/satilir-4-otaqli-kohne-tikil...,Abşeron Əmlak (Vasitəçi),(070) 608-88-78,15,706088878
118,https://arenda.az/satilir-4-otaqli-heyet-evi-v...,Abşeron Əmlak (Vasitəçi),(055) 990-60-74,15,559906074
119,https://arenda.az/satilir-torpaq-abseron-rayon...,Mirzə (Əmlak sahibi),055-509-90-00,13,555099000

In [19]:
# import pandas as pd
# birjaCom = pd.read_csv('birjaCom.csv')
# birjaCom['length'] = birjaCom['Phone'].str.len().sort_values(ascending=False)
# birjaCom = birjaCom.sort_values(by='length', ascending=False)
# birjaCom['phone_cleaned'] = birjaCom['Phone'].str.replace(r'\D', '', regex=True).str[-9:]
# birjaCom.dropna(subset=['phone_cleaned'],inplace=True)
# birjaCom.to_excel('birjaCom.xlsx', engine='xlsxwriter')

,Link,Phone,length,phone_cleaned
0,/ads/az/182489/prodaetsya-3-komnatnaya-v-pos-e...,tel:+994553635890,17.0,553635890
1335,/ads/az/496148/,tel:+994708706181,17.0,708706181
1333,/ads/az/496161/,tel:+994706738658,17.0,706738658
1332,/ads/az/496159/,tel:+994553300903,17.0,553300903
1331,/ads/az/496158/,tel:+994557681776,17.0,557681776
...,...,...,...,...
1664,/ads/az/497855/,tel:+99405052422,16.0,405052422
1045,/ads/az/497145/,tel:+994,8.0,994
1327,/ads/az/496372/,tel:+994,8.0,994
410,/ads/az/499296/,tel:+994,8.0,994
1804,/ads/az/498690/,tel:+994,8.0,994

In [ ]:
# import pandas as pd
# arenda = pd.read_csv('arendaAz.csv')
# arenda['length'] = arenda['phone'].str.len().sort_values(ascending=False)
# arenda = arenda.sort_values(by='length', ascending=False)
# arenda['phone_cleaned'] = arenda['phone'].str.split(',')
# arenda = arenda.explode('phone_cleaned', ignore_index=True)
# arenda['phone_cleaned'] = arenda['phone_cleaned'].str.replace(r'\D', '', regex=True).str[-9:]
# arenda.dropna(subset=['phone'], inplace=True)
# arenda.to_excel('arenda.xlsx', engine='xlsxwriter')